<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./style.css">
  <title>FDND SQUADPAGE B</title>
</head>
<<<<<<< HEAD
<nav class="tablet-desktop">
=======

>>>>>>> 725b47f08270b81d25e89610698bbeb15eefa562
<ul>
  <li>All</li>
  <li>Noord-Holland</li>
  <li>Utrecht</li>
  <li>Flevoland</li>
</ul>

<body>
