<%- include('./partials/head') %>

  <main>
    <!-- HEADER VISITEKAARTJE -->
    <section class="HEADER_CARD">
      <img src="/nazneen.jpg" alt="foto_van_mijzelf">
      <h1>
        <%=member.name%>
      </h1>
      <h1>
        <%=member.surname%>
      </h1>

    </section>

    <!-- FOUR CARDS -->
    <article>
      <img class="icon" src="/hot-chocolate.png" alt="icon_hot_chocolate" />
      <p class="food">Food</p>
    </article>

    <article>
      <img class="icon" src="/cinema.png" alt="icon_cinema" />
      <p>Tv shows</p>
    </article>

    <article>
      <img class="icon" src="/books.png" alt="icon_books" />
      <p class="book">Favorite books</p>
    </article>

    <article>
      <img class="icon" src="/user.png" alt="icon_user" />
      <p class="connect">Let's connect</p>
    </article>

  </main>

  <%- include('./partials/foot') %>