<%- include('./partials/head') %>

  <main>

    <!-- VOORPAGINA!!!! -->
    <!-- MENU -->
    <nav>
      <h1>
        <%= squad.name %>
      </h1>
      <img class="menu-burger" src="/burger-bar.png" alt="icon-burger-menubar">
    </nav>


    <!-- INTRO TEKST -->
    <!--<section>
      <p class="Hello">Hallo</p>
      <p>welkom op de squadpage van</p>
      <p class="squad">
        <%= squad.name %>
      </p>
    </section>//-->

    <!-- IMG WITH COLOURS -->

    <!--<section>
      <img class="nederland" src="/depositphotos_85213770-stock-illustration-map-of-the-netherlands.jpeg"
        alt="world-map-nederland">
    </section>//-->

    <!-- END VOORPAGINA!!!! -->



  </main>

  <%- include('./partials/foot') %>