<%- include('./partials/head') %>

  <main>

    <!-- VOORPAGINA!!!! -->
    <!-- MENU -->
    <nav>
      <h1>
        <%= squad.name %>
      </h1>
      <img src="/burger-bar.png" alt="icon-burger-menubar">
    </nav>


    <!-- INTRO TEKST -->
    <section>
      <p>Hello</p>
      <p>welkom op de squadpage van</p>
      <p>
        <%= squad.name %>
      </p>
    </section>

    <!-- IMG WITH COLOURS -->



    <!-- END VOORPAGINA!!!! -->



  </main>

  <%- include('./partials/foot') %>